<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="'Detalle del establecimiento - '+${nombre}"></title>
    <link th:href="@{/styles/css/normalize.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/login.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/footer.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/responsive.css}" rel="stylesheet" />
     <link th:href="@{/styles/css/detail.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section class="principal">
      <h1 class="nombre-establecimiento" th:text="${nombre}"></h1>
      
      <div class="carousel-fotos">
        <div
          id="carouselExampleFade"
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                th:src="${foto1}"
                class="d-block w-100"
                alt="Foto 1"
              />
            </div>
            <div class="carousel-item">
              <img
                th:src="${foto2}"
                class="d-block w-100"
                alt="Foto 2"
              />
            </div>
            <div class="carousel-item">
              <img
                th:src="${foto3}"
                class="d-block w-100"
                alt="Foto 3"
              />
            </div>
          </div>
          <div class="detalles-establecimiento">
            <ul class="lista-detalles"></ul>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
   
    <div class="descripcion">
      <div class="card"  >
        <ul class="list-group list-group-flush" >
          <li class="list-group-item" style="background-color: #babab961" th:text="${descripcion}" > </li>
          <li class="list-group-item"  ><p th:text="'Direccion: '+${direccion}" ></p> </li>
          <li class="list-group-item" ><p  th:text="'Telefono: '+${telefono}" ></p> </li>
          <li class="list-group-item"><p>Sitio Web: <a th:text="${paginaInternet}" th:href="${paginaInternet}"></a></p> </li>
          <li class="list-group-item"  th:switch="${tipoEstablecimiento}">
           <p th:case="CABAÑA">Tipo de Establecimiento: Cabaña</p>
           <p th:case="HOTEL">Tipo de Establecimiento: Hotel</p>
           <p th:case="HOSTEL">Tipo de Establecimiento: Hostel</p>
           <p th:case="DEPARTAMENTO">Tipo de Establecimiento: Departamento</p>
           <p th:case="CASA">Tipo de Establecimiento: Casa</p>
           <p th:case="CAMPING">Tipo de Establecimiento: Camping</p>
           <p th:case="CASA_DE_CAMPO">Tipo de Establecimiento: Casa de Campo</p>
          </li>
          <li class="list-group-item"  th:switch="${localidad}">
           <p th:case="SIERRA_DE_LA_VENTANA">Sierra de la Ventana</p>
           <p th:case="TORNQUIST">Tornquist</p>
           <p th:case="SALDUNGARAY">Saldungaray</p>
           <p th:case="VILLA_VENTANA">Villa Ventana</p>
           <p th:case="LA_GRUTA">La Gruta</p>
          </li>
        </ul>
      </div>
     </div>
    </section>
    <footer class="footer">
      <div class="footer-img-container">
        <img
          class="img-footer"
          src="/styles/img/municipiologo.png"
          alt="Logo Municipio Tornquist"
        />
        <img
          class="img-footer"
          src="/styles/img/ventanialogo.png"
          alt="Logo Ventania"
        />
      </div>
      <h4>Desarrollado por Nicolás Nuccelli</h4>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
