<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asistente de Turismo - Login</title>
    <link th:href="@{/styles/css/normalize.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/login.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/footer.css}" rel="stylesheet" />
    <link th:href="@{/styles/css/responsive.css}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="login">
      <form class="loginContainer" id="formLogin" method="POST" action="login">
        <h2 class="loginTitle">Iniciar Sesión</h2>
        <input
          type="text"
          class="loginInput"
          id="username"
          name="username"
          placeholder="Escriba su nombre de usuario"
          required
        />
        <input
          type="password"
          class="loginInput"
          id="password"
          name="password"
         
          placeholder="Escriba su contraseña"
          required
        />
        <a><button type="submit" id="entrar">Entrar</button></a>
     
      </form>
    </section>
    <footer class="footer">
      <div class="footer-img-container">
        <img
          class="img-footer"
          src="/styles/img/municipiologo.png"
          alt="Logo Municipio Tornquist"
        />
        <img
          class="img-footer"
          src="/styles/img/ventanialogo.png"
          alt="Logo Ventania"
        />
      </div>
    </footer>
  </body>
</html>
